.fork-pricing {
  background: url(/dist/img/fork-pricing/fork-pricing-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 10px;
  @media (min-width: $break-point-1) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media (min-width: $break-point-2) {
    padding-bottom: 140px;
  }
}
.fork-pricing__title {
  margin: 0;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  @media (min-width: $break-point-1) {
    font-size: 42px;
    line-height: 44px;
  }
  @media (min-width: $break-point-2) {
    font-size: 48px;
    line-height: 50px;
  }
}
.fork-pricing__list {
  @include flex-center;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
  @media (min-width: 645px) {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    place-items: center;
    width: fit-content;
    column-gap: 25px;
    row-gap: 70px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1130px) {
    @include flex-center;
    flex-direction: row;
    gap: 15px;
    margin-top: 60px;
  }
}
.fork-pricing__list-item {
  @include flex-center;
  justify-content: flex-start;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.11);
  min-height: 450px;
  width: 257px;
}
.fork-pricing__item-title {
  @include flex-center;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: 257px;
  height: 97px;
  background: rgba(255, 255, 255, 0.06);
}
.fork-pricing__price {
  font-weight: 500;
  font-size: 60px;
  line-height: 62px;
  margin-top: 30px;
}
.fork-pricing__term {
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;
  &::after {
    position: relative;
    top: 40px;
    display: block;
    content: "";
    width: 60px;
    height: 5px;
    background: #8d81ac;
    margin-left: auto;
    margin-right: auto;
  }
}
.fork-pricing__info {
  min-height: 36px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  margin-top: 70px;
}
.fork-pricing__buy-btn {
  @include flex-center;
  width: 163px;
  height: 45px;
  font-size: 15px;
  line-height: 15px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.15);
  margin-top: 35px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px #8d81ac;
  }
}
.fork-pricing__list-item--accented {
  min-height: 560px;
  width: 300px;
  background-color: rgba(70, 48, 72, 0.6);
  .fork-pricing__item-title {
    width: 300px;
  }
  .fork-pricing__price {
    margin-top: 20px;
    font-size: 82px;
    line-height: 84px;
  }
  .fork-pricing__info {
    margin-top: 90px;
  }
  .fork-pricing__buy-btn {
    width: 190px;
    height: 52px;
    margin-top: 80px;
  }
}
.fork-pricing__list-item--place-start {
  @media (min-width: 645px) and (max-width: 1130px) {
    place-self: start;
  }
}
.fork-pricing__list-item--place-end {
  @media (min-width: 645px) and (max-width: 1130px) {
    place-self: end;
  }
}
.fork-pricing__list-item--place-start-center {
  @media (min-width: 645px) and (max-width: 1130px) {
    place-self: center start;
  }
}
